body {
    background-color: lightseagreen;
}

.light {
    color: black;
    background-color: orange;
    margin-top: 40px;
}

.dark {
    color: white;
    background-color: purple;
    margin-top: 40px;
}

.button {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.button button {
    font-size: 30px;
    background-color: lightsalmon;
    width: 100px;
    height: 50px;
    border: 1px solid azure;
    border-radius: 10px;
}